@page "/Form"
@using System.Text.Json
@using BlazorApp.Shared.Form.Core
<h3>Form</h3>

<DynamicForm @bind-Data="Data" Form="GetForm()" />
<br /><br />
<textarea rows="20" cols="100">@(JsonSerializer.Serialize(Data))</textarea>                


@code {

    //
    // RenderFragment DynamicFormInstance => builder =>
    // {
    //     Type dataType = CurrentSettings!.DataType;
    //     var type = typeof(DynamicForm<>).MakeGenericType(new[] { dataType });
    //     builder.OpenComponent(1, type);
    //     builder.AddAttribute(2, "Form", CurrentSettings.Form);
    //     builder.CloseComponent();
    // };
    //
    //

    // Type MyType { get; set; } = typeof(string);
    // string MyString { get; set; } = "hello";
    //
    // public ISettings? CurrentSettings { get; set; }
    //
    // public List<ISettings> Settings = new List<ISettings>()
    // {
    //     new ThemeSettings(),
    //     new ApiSettings()
    // };
    //
    // public interface ISettings
    // {
    //     public string Label { get; set; }
    //     public IDynamicFormDefinition Form { get; set; }
    //     public Type DataType { get; set; }
    // }

    public object Data { get; set; } = new ThemeSettingsBigData();
    
    
    public DynamicFormDefinition nestedForm = new DynamicFormDefinition()
    {
        Fields = new List<DynamicFormFieldDefinition>()
        {
            DynamicFormFieldDefinition.Create<ThemeSettingsData>(x => x.Label),
            DynamicFormFieldDefinition.Create<ThemeSettingsData>(x => x.Colors, repeatable: true),
        }
    };


    public DynamicFormDefinition GetForm()
    {
        var front = DynamicFormFieldDefinition.Create<ThemeSettingsBigData>(x => x.FrontTheme) ;
        front.NestedForm = nestedForm;
        front.Label = "front";
        
        var panel = DynamicFormFieldDefinition.Create<ThemeSettingsBigData>(x => x.PanelTheme);
        panel.NestedForm = nestedForm;
        panel.Label = "panel";
        
        
        var regular = DynamicFormFieldDefinition.Create<ThemeSettingsBigData>(x => x.Themes);
        regular.Repeatable = true;
        regular.NestedForm = nestedForm;
        regular.DataType = typeof(ThemeSettingsData);
        
        var isEnabled = DynamicFormFieldDefinition.Create<ThemeSettingsBigData>(x => x.IsEnabled);
        isEnabled.DataType = typeof(bool);
        
        return new DynamicFormDefinition()
        {
            Fields = new List<DynamicFormFieldDefinition>()
            {
                front,
                panel,
                regular,
                isEnabled
            }
        };
    }
    

    public class ThemeSettingsData
    {
        public string Label { get; set; } = "PrimaryColor";

        public List<string> Colors { get; set; } = new();
    }
    
    public class ThemeSettingsBigData
    {
        public bool IsEnabled { get; set; } = false;
        
        public List<ThemeSettingsData> Themes { get; set; } = new List<ThemeSettingsData>();

        public ThemeSettingsData PanelTheme { get; set; } = new ThemeSettingsData();

        public ThemeSettingsData FrontTheme { get; set; } = new ThemeSettingsData();
    }

    
    //
    // public class ApiSettingsData : IFormDataModel
    // {
    //     public string Key { get; set; } = "";
    //
    //     public List<string> Keys { get; set; } = new List<string>();
    //
    //     public List<ThemeSettingsData> ThemeSettingsDatas { get; set; } = new ();
    // }
    //
    // public class ApiSettings : ISettings
    // {
    //     public string Label { get; set; } = "ApiSettings";
    //
    //     
    //     public IDynamicFormDefinition Form { get; set; } = new DataForm<ApiSettingsData>()
    //     {
    //         Data = new ApiSettingsData(),
    //         
    //         Fields = new ()
    //         {
    //             new DataFormField<ApiSettingsData>()
    //             {
    //                 Repeatable = true,
    //                 Label = "Key",
    //                 Path = x => x.ThemeSettingsDatas.,
    //             }
    //         }
    //     };
    //
    //     public Type DataType { get; set; } = typeof(ApiSettingsData);
    // }
    //
    // public class ThemeSettings : ISettings
    // {
    //     public string Label { get; set; } = "ThemeSettings";
    //
    //     public Type DataType { get; set; } = typeof(ThemeSettingsData);
    //
    //     public IDynamicFormDefinition Form { get; set; } = new DataForm<ThemeSettingsData>()
    //     {
    //         Data = new ThemeSettingsData()
    //         {
    //             PrimaryColor = "#FFF"
    //         },
    //
    //         Fields = new ()
    //         {
    //             new DataFormField<ThemeSettingsData>()
    //             {
    //                 Label = "PrimaryColor",
    //                 Path = x => x.PrimaryColor
    //             },
    //             
    //             new DataFormField<ThemeSettingsData>()
    //             {
    //                 NestedForm = new DataForm<ThemeSettingsData>()
    //                 {
    //                     Data = new ThemeSettingsData()
    //                     {
    //                         PrimaryColor = "#FFF"
    //                     },
    //
    //                     Fields = new ()
    //                     {
    //                         new DataFormField<ThemeSettingsData>()
    //                         {
    //                             Label = "PrimaryColor 1",
    //                             Path = x => x.PrimaryColor
    //                         },
    //             
    //                         new DataFormField<ThemeSettingsData>()
    //                         {
    //                             Label = "PrimaryColor 2",
    //                             Path = x => x.PrimaryColor
    //                         }
    //                     }
    //                 }, 
    //                 Label = "PrimaryColor",
    //                 Path = x => x.PrimaryColor
    //             }
    //         }
    //     };
    // }
}